<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>

<th:block th:fragment="list">
    <!-- Select2 -->
    <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}">

    <!-- daterange picker -->
    <link rel="stylesheet" th:href="@{/plugins/daterangepicker/daterangepicker.css}">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin tìm kiếm</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form class="form-horizontal" th:object="${searchDto}" th:action="@{/confirmRequest}" method="GET">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Loại đề nghị</label>
                                            <select th:field="*{type}" class="form-control select2" style="width: 100%;">
                                                <option value= 0 selected="selected">Chọn loại đề nghị</option>
                                                <option th:each="entry : ${type}" th:value="${entry.key}" th:text="${entry.value}"></option>
                                            </select>
                                        </div>
                                        <!-- /.form-group -->
                                        <div class="form-group">
                                            <label>Từ ngày:</label>
                                            <div class="input-group date" id="fromDate" data-target-input="nearest">
                                                <input th:field="*{fromDate}" type="text" class="form-control datetimepicker-input" data-target="#fromDate"/>
                                                <div class="input-group-append" data-target="#fromDate" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.form group -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Trạng thái</label>
                                                <select th:field="*{status}" class="form-control select2" style="width: 100%;">
                                                    <option value= 0 selected="selected">Chọn trạng thái</option>
                                                    <option th:each="entry : ${status}" th:value="${entry.key}" th:text="${entry.value}"></option>
                                                </select>
                                        </div>
                                        <!-- /.form-group -->

                                        <!-- Date and time range -->
                                        <div class="form-group">
                                            <label>Đến ngày:</label>

                                            <div class="input-group date" id="toDate" data-target-input="nearest">
                                                <input th:field="*{toDate}" type="text" class="form-control datetimepicker-input" data-target="#toDate"/>
                                                <div class="input-group-append" data-target="#toDate" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                        <!-- /.form group -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->

                                <button type="submit" class="btn btn-info float-right"><i class="icn fas fa-search"></i>Tìm kiếm</button>
                            </div>
                            <!-- /.card-body -->
                        </form>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" th:text="${title}"></h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="table" class="table table-bordered table-hover">
                                <thead class="center">
                                <tr>
                                    <th>Id</th>
                                    <th>Ngày đề nghị</th>
                                    <th>loại đề nghị</th>
                                    <th>Trạng thái</th>
                                    <th>Thao tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${list != null && !list.empty}" th:each="record : ${list}">
                                    <td class="center" th:text="${record.id}"></td>
                                    <td class="center" th:text="${record.createdDate}"></td>
                                    <td th:text="${type[__${record.type}__]}"></td>
                                    <td th:text="${status[__${record.status}__]}"></td>
                                    <td class="center">
                                        <a th:href="@{/request/info(id=${record.id})}" title="Chi tiết" class="icn"><i class="fas fa-search"></i></a>
                                        <a th:if="${record.status} == 1" th:href="@{/confirmRequest/save(id=${record.id})}" title="Thao tác" class="icn"><i class="fas fa-pen-alt"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>

    <!-- Select2 -->
    <script th:src="@{/plugins/select2/js/select2.full.min.js}"></script>

    <!-- DataTables -->
    <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>

    <!-- date-range-picker -->
    <script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>

    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

            //Date range picker with time picker
            $(function () {
                $('.date').datetimepicker({
                    icons: {
                        time: "fas fa-clock"
                    },
                    showClear : true,
                    format : 'DD/MM/YYYY, HH:mm'
                })
            });


            $('#table').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
</th:block>

<th:block th:fragment="leave">
    <!-- daterange picker -->
    <link rel="stylesheet" th:href="@{/plugins/daterangepicker/daterangepicker.css}">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Đề nghị xin nghỉ phép</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form class="form-horizontal" th:object="${dto}" method="POST">
                            <input type="hidden" id="id"  th:value="*{id}">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Tên nhân viên:</label>
                                            <input type="text" class="form-control" disabled
                                                   th:value="${dto.user.userName}">
                                        </div>

                                        <div class="form-group">
                                            <label>Từ ngày:</label>
                                            <div class="input-group date" id="fromDate" data-target-input="nearest">
                                                <input autocomplete="off" disabled th:value="*{fromDate}" type="text" class="form-control datetimepicker-input" data-target="#fromDate"/>
                                                <div class="input-group-append" data-target="#fromDate" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.form group -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Tên phòng ban:</label>
                                            <input type="text" class="form-control" disabled
                                                   th:value="${dto.user.department.deptName}" >
                                        </div>
                                        <!-- /.form-group -->

                                        <div class="form-group">
                                            <label>Đến ngày:</label>
                                            <div autocomplete="off" class="input-group date" id="toDate" data-target-input="nearest">
                                                <input th:value="*{toDate}" disabled type="text" class="form-control datetimepicker-input" data-target="#toDate"/>
                                                <div class="input-group-append" data-target="#toDate" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.form group -->


                                        <!-- Date and time range -->
<!--                                        <div class="form-group">-->
<!--                                            <label>Thời gian:</label>-->
<!--                                            <div class="input-group">-->
<!--                                                <div class="input-group-prepend">-->
<!--                                                    <span class="input-group-text"><i class="far fa-clock"></i></span>-->
<!--                                                </div>-->
<!--                                                <input type="text" class="form-control float-right" id="reservationtime">-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash; /.input group &ndash;&gt;-->
<!--                                        </div>-->
                                        <!-- /.form group -->
                                    </div>
                                    <!-- /.col -->

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Lý do nghỉ:</label>
                                            <textarea disabled th:field="*{reason}" class="form-control" rows="" placeholder="Enter ..."></textarea>
                                        </div>
                                        <!-- textarea -->
                                    </div>
                                </div>

                                <a onclick="window.history.go(-1);" class="btn btn-warning float-right"><i class="fa fa-chevron-left"></i>&nbsp;Quay lại</a>
                                <a id="denyBtn" style="margin-right: 7px" class="btn btn-danger float-right"><i class="fa fa-ban"></i>&nbsp;Từ chối</a>
                                <a id="confirmBtn" style="margin-right: 7px" class="btn btn-primary float-right"><i class="fa fa-pen-alt"></i>&nbsp;Duyệt</a>

                            </div>
                            <!-- /.card-body -->
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>

    <!-- date-range-picker -->
    <script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>

    <script>
        $(function () {
            $('.date').datetimepicker({
                icons: {
                    time: "fas fa-clock"
                },
                showClear : true,
                format : 'DD/MM/YYYY, HH:mm'
                // timePicker: true,
                // format: 'L'
            })
        });

        $('#denyBtn').click(function (){
            var id = $('#id').val();
            $.ajax({
                url: '/request/changeStatus/' + id + '/4',
                method: "GET",
                success : function (data) {
                    if(data == '200'){
                        toastr.success("Thao tác thành công");
                        $('#denyBtn').off('click');
                        $('#confirmBtn').off('click');
                    } else
                        toastr.error('Thao tác thất bại')
                }
            })
        })

        $('#confirmBtn').click(function (){
            var id = $('#id').val();
            $.ajax({
                url: '/request/changeStatus/' + id + '/2',
                method: "GET",
                success : function (data) {
                    if(data == '200'){
                        toastr.success("Thao tác thành công");
                        $('#denyBtn').off('click');
                        $('#confirmBtn').off('click');
                    } else
                        toastr.error('Thao tác thất bại')
                }
            })
        })
    </script>

</th:block>

</body>
</html>

