<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>

<th:block th:fragment="list">
    <!-- Select2 -->
    <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}">

    <!-- daterange picker -->
    <link rel="stylesheet" th:href="@{/plugins/daterangepicker/daterangepicker.css}">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin tìm kiếm</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form class="form-horizontal" th:object="${searchDto}" th:action="@{/request}" method="GET">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Loại đề nghị</label>
                                            <select th:field="*{type}" class="form-control select2" style="width: 100%;">
                                                <option value= 0 selected="selected">Chọn loại đề nghị</option>
                                                <option th:each="entry : ${type}" th:value="${entry.key}" th:text="${entry.value}"></option>
                                            </select>
                                        </div>
                                        <!-- /.form-group -->
                                        <div class="form-group">
                                            <label>Từ ngày:</label>
                                            <div class="input-group date" id="fromDate" data-target-input="nearest">
                                                <input th:field="*{fromDate}" type="text" class="form-control datetimepicker-input" data-target="#fromDate"/>
                                                <div class="input-group-append" data-target="#fromDate" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.form group -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Trạng thái</label>
                                                <select th:field="*{status}" class="form-control select2" style="width: 100%;">
                                                    <option value= 0 selected="selected">Chọn trạng thái</option>
                                                    <option th:each="entry : ${status}" th:value="${entry.key}" th:text="${entry.value}"></option>
                                                </select>
                                        </div>
                                        <!-- /.form-group -->

                                        <!-- Date and time range -->
                                        <div class="form-group">
                                            <label>Đến ngày:</label>

                                            <div class="input-group date" id="toDate" data-target-input="nearest">
                                                <input th:field="*{toDate}" type="text" class="form-control datetimepicker-input" data-target="#toDate"/>
                                                <div class="input-group-append" data-target="#toDate" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                        <!-- /.form group -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->

                                <button type="submit" class="btn btn-info float-right"><i class="icn fas fa-search"></i>Tìm kiếm</button>
                            </div>
                            <!-- /.card-body -->
                        </form>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" th:text="${title}"></h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="table" class="table table-bordered table-hover">
                                <thead class="center">
                                <tr>
                                    <th>Id</th>
                                    <th>Ngày đề nghị</th>
                                    <th>loại đề nghị</th>
                                    <th>Trạng thái</th>
                                    <th>Thao tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${list != null && !list.empty}" th:each="record : ${list}">
                                    <td class="center" th:text="${record.id}"></td>
                                    <td class="center" th:text="${record.createdDate}"></td>
                                    <td th:text="${record.typeStr}"></td>
                                    <td th:text="${record.statusStr}"></td>
                                    <td class="center">
                                        <a th:href="@{/request/info(type = ${record.type}, id=${record.id})}" title="Chi tiết" class="icn"><i class="fas fa-search"></i></a>
                                        <a th:if="${record.status == 5}" th:href="@{'/request/download/'+ ${record.id}}" title="Tải xuống" class="icn"><i class="fas fa-download"></i></a>
                                        <a th:if="${record.status == 1}" th:href="@{/request/del(id=${record.id})}" onclick="return confirm('Bạn chắc chắn muốn xóa ?')" class="icn" title="Hủy"><i class="fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>

    <!-- Select2 -->
    <script th:src="@{/plugins/select2/js/select2.full.min.js}"></script>

    <!-- DataTables -->
    <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>

    <!-- date-range-picker -->
    <script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>

    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

            //Date range picker with time picker
            $(function () {
                $('.date').datetimepicker({
                    icons: {
                        time: "fas fa-clock"
                    },
                    showClear : true,
                    format : 'DD/MM/YYYY, HH:mm'
                })
            });


            $('#table').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
</th:block>

<th:block th:fragment="leave">
    <!-- daterange picker -->
    <link rel="stylesheet" th:href="@{/plugins/daterangepicker/daterangepicker.css}">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Đề nghị xin nghỉ phép</h3>
                            <div style="color: red" class="text-right" th:text="${statusStr}"></div>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form class="form-horizontal" th:action="@{/request/leave/save}" th:object="${dto}" method="POST">
                            <input type="hidden" th:field="*{id}">
                            <input type="hidden" name="user.id" th:value="${session.user.getId()}">
                            <input type="hidden" name="type" value="1">
                            <input type="hidden" name="status" value="1">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Tên nhân viên:</label>
                                            <input type="text" class="form-control" disabled
                                                   th:value="${session.user.userName}">
                                        </div>

                                        <div class="form-group">
                                            <label>Từ ngày:</label>
                                            <div class="input-group date" id="fromDate" data-target-input="nearest">
                                                <input th:disabled="*{status != 0}" autocomplete="off" th:field="*{fromDate}" type="text" class="form-control datetimepicker-input" data-target="#fromDate"/>
                                                <div class="input-group-append" data-target="#fromDate" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.form group -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Tên phòng ban:</label>
                                            <input type="text" class="form-control" disabled
                                                   th:value="${session.user.department.getDeptName()}" >
                                        </div>
                                        <!-- /.form-group -->

                                        <div class="form-group">
                                            <label>Đến ngày:</label>
                                            <div th:disabled="*{status != 0}" class="input-group date" id="toDate" data-target-input="nearest">
                                                <input th:disabled="*{status != 0}" autocomplete="off" th:field="*{toDate}" type="text" class="form-control datetimepicker-input" data-target="#toDate"/>
                                                <div class="input-group-append" data-target="#toDate" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.form group -->

                                    </div>
                                    <!-- /.col -->

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Lý do nghỉ:</label>
                                            <textarea th:disabled="*{status != 0}" th:field="*{reason}" class="form-control" rows="" placeholder="Enter ..."></textarea>
                                        </div>
                                        <!-- textarea -->
                                    </div>
                                </div>

<!--                                <a th:if="*{status != 0}" th:href="@{/request}" type="button" class="btn btn-warning float-right"><i class="icn fas fa-backward"></i>Quay lại</a>-->
                                <a type="button" onclick="window.history.go(-1);" class="btn btn-warning float-right"><i class="icn fas fa-backward"></i>Quay lại</a>

                                <button style="margin-right: 7px" th:if="*{status == 0}" type="submit" class="btn btn-primary float-right"><i class="icn fas fa-save"></i>Lưu</button>
                            </div>
                            <!-- /.card-body -->
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>

    <!-- date-range-picker -->
    <script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>

    <script>
        $(function () {
            $('.date').datetimepicker({
                icons: {
                    time: "fas fa-clock"
                },
                showClear : true,
                format : 'DD/MM/YYYY, HH:mm'
                // timePicker: true,
                // format: 'L'
            })
        });
    </script>

</th:block>

<th:block th:fragment="info">
    <!-- daterange picker -->
    <link rel="stylesheet" th:href="@{/plugins/daterangepicker/daterangepicker.css}">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Chi tiết đề nghị xin nghỉ phép</h3>
                            <div style="color: red" class="text-right" th:text="${statusStr}"></div>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form class="form-horizontal" th:object="${dto}">
                            <input type="hidden" th:field="*{id}">
                            <input type="hidden" name="user.id" th:value="${session.user.getId()}">
                            <input type="hidden" name="type" value="1">
                            <input type="hidden" name="status" value="1">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Tên nhân viên:</label>
                                            <input type="text" class="form-control" disabled
                                                   th:value="${dto.user.userName}">
                                        </div>

                                        <div class="form-group">
                                            <label>Từ ngày:</label>
                                            <div class="input-group date" id="fromDate" data-target-input="nearest">
                                                <input disabled autocomplete="off" th:field="*{fromDate}" type="text" class="form-control datetimepicker-input" data-target="#fromDate"/>
                                                <div class="input-group-append" data-target="#fromDate" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.form group -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Tên phòng ban:</label>
                                            <input type="text" class="form-control" disabled
                                                   th:value="${dto.user.department.deptName}" >
                                        </div>
                                        <!-- /.form-group -->

                                        <div class="form-group">
                                            <label>Đến ngày:</label>
                                            <div disabled autocomplete="off" class="input-group date" id="toDate" data-target-input="nearest">
                                                <input th:disabled="*{status != 0}" th:field="*{toDate}" type="text" class="form-control datetimepicker-input" data-target="#toDate"/>
                                                <div class="input-group-append" data-target="#toDate" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.form group -->

                                    </div>
                                    <!-- /.col -->

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Lý do nghỉ:</label>
                                            <textarea disabled th:field="*{reason}" class="form-control" rows="" placeholder="Enter ..."></textarea>
                                        </div>
                                        <!-- textarea -->
                                    </div>
                                </div>

                                <a type="button" onclick="window.history.go(-1);" class="btn btn-warning float-right"><i class="icn fas fa-backward"></i>Quay lại</a>
                            </div>
                            <!-- /.card-body -->
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>

    <!-- date-range-picker -->
    <script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>

    <script>
        $(function () {
            $('.date').datetimepicker({
                icons: {
                    time: "fas fa-clock"
                },
                showClear : true,
                format : 'DD/MM/YYYY, HH:mm'
                // timePicker: true,
                // format: 'L'
            })
        });
    </script>

</th:block>

<th:block th:fragment="matInfo">
    <!-- daterange picker -->
    <link rel="stylesheet" th:href="@{/plugins/daterangepicker/daterangepicker.css}">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Đề nghị vật tư</h3>
                            <div style="color: red" class="text-right" th:text="${statusStr}"></div>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form class="form-horizontal" th:object="${dto}">
                            <input type="hidden" th:field="*{id}">
                            <input type="hidden" name="user.id" th:value="${session.user.getId()}">
                            <input type="hidden" name="type" value="1">
                            <input type="hidden" name="status" value="1">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Tên nhân viên:</label>
                                            <input type="text" class="form-control" disabled
                                                   th:value="${dto.user.userName}">
                                        </div>

                                        <div class="form-group">
                                            <label>Từ ngày:</label>
                                            <div class="input-group date" id="fromDate" data-target-input="nearest">
                                                <input id="from" disabled autocomplete="off" th:field="*{fromDate}" type="text" class="form-control datetimepicker-input" data-target="#fromDate"/>
                                                <div class="input-group-append" data-target="#fromDate" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.form group -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Tên phòng ban:</label>
                                            <input type="text" class="form-control" disabled
                                                   th:value="${dto.user.department.deptName}" >
                                        </div>
                                        <!-- /.form-group -->

                                        <div class="form-group">
                                            <label>Đến ngày:</label>
                                            <div disabled autocomplete="off" class="input-group date" id="toDate" data-target-input="nearest">
                                                <input id="to" th:disabled="*{status != 0}" th:field="*{toDate}" type="text" class="form-control datetimepicker-input" data-target="#toDate"/>
                                                <div class="input-group-append" data-target="#toDate" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.form group -->

                                    </div>
                                    <!-- /.col -->

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Lý do:</label>
                                            <textarea id="reason" disabled th:field="*{reason}" class="form-control" rows="" placeholder="Enter ..."></textarea>
                                        </div>
                                        <!-- textarea -->
                                    </div>

                                </div>

                                <!--                                <a th:if="*{status != 0}" th:href="@{/request}" type="button" class="btn btn-warning float-right"><i class="icn fas fa-backward"></i>Quay lại</a>-->
                                <a type="button" onclick="window.history.go(-1);" class="btn btn-warning float-right"><i class="icn fas fa-backward"></i>Quay lại</a>

                                <a style="margin-right: 7px" th:if="*{status == 0}" id="send" class="btn btn-primary float-right"><i class="icn fas fa-save"></i>Lưu</a>
                            </div>
                            <!-- /.card-body -->
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="box-header" >
                            <div class="card-header">
                                <h3 class="card-title">Danh sách vật tư</h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="box-body">
                                        <table id="table" class="table table-bordered table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th class="center">STT</th>
                                                <th class="center">ID vật tư</th>
                                                <th class="center">Mã vật tư</th>
                                                <th class="center">Tên vật tư </th>
                                                <th class="center">Đơn vị</th>
                                                <th style="width: 10%" class="center">Số lượng</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:if="${listMat != null && !listMat.empty}" th:each="record : ${listMat}">
                                                <td class="center" th:text="${record.index}"></td>
                                                <td class="center" th:text="${record.id}"></td>
                                                <td th:text="${record.material.matCode}"></td>
                                                <td th:text="${record.material.matName}"></td>
                                                <td th:text="${record.material.unit}"></td>
                                                <td class="center" th:text="${record.quantity}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--                                </div>-->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
    </section>

    <!-- date-range-picker -->
    <script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>

    <!-- DataTables -->
    <!--    <script th:src="@{/dist/js/datatables.net/js/jquery.dataTables.min.js}"></script>-->
    <!--    <script th:src="@{/dist/js/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>-->
    <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
    <script>
        $(function () {
            var table = $('#table').DataTable({
                'paging': false,
                'lengthChange': false,
                'searching': false,
                'ordering': false,
                'info': false,
                'autoWidth': false
            });

            $('.date').datetimepicker({
                icons: {
                    time: "fas fa-clock"
                },
                showClear : true,
                format : 'DD/MM/YYYY, HH:mm'
                // timePicker: true,
                // format: 'L'
            })
        });
    </script>

</th:block>

<th:block th:fragment="mat">
    <!-- daterange picker -->
    <link rel="stylesheet" th:href="@{/plugins/daterangepicker/daterangepicker.css}">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Đề nghị vật tư</h3>

                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form class="form-horizontal" th:object="${dto}">
                            <input type="hidden" th:field="*{id}">
                            <input type="hidden" name="user.id" th:value="${session.user.getId()}">
                            <input type="hidden" name="type" value="1">
                            <input type="hidden" name="status" value="1">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Tên nhân viên:</label>
                                            <input type="text" class="form-control" disabled
                                                   th:value="${session.user.userName}">
                                        </div>

                                        <div class="form-group">
                                            <label>Từ ngày:</label>
                                            <div class="input-group date" id="fromDate" data-target-input="nearest">
                                                <input id="from" th:disabled="*{status != 0}" autocomplete="off" th:field="*{fromDate}" type="text" class="form-control datetimepicker-input" data-target="#fromDate"/>
                                                <div class="input-group-append" data-target="#fromDate" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.form group -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Tên phòng ban:</label>
                                            <input type="text" class="form-control" disabled
                                                   th:value="${session.user.department.getDeptName()}" >
                                        </div>
                                        <!-- /.form-group -->

                                        <div class="form-group">
                                            <label>Đến ngày:</label>
                                            <div th:disabled="*{status != 0}" autocomplete="off" class="input-group date" id="toDate" data-target-input="nearest">
                                                <input id="to" th:disabled="*{status != 0}" th:field="*{toDate}" type="text" class="form-control datetimepicker-input" data-target="#toDate"/>
                                                <div class="input-group-append" data-target="#toDate" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.form group -->

                                    </div>
                                    <!-- /.col -->

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Lý do:</label>
                                            <textarea id="reason" th:disabled="*{status != 0}" th:field="*{reason}" class="form-control" rows="" placeholder="Enter ..."></textarea>
                                        </div>
                                        <!-- textarea -->
                                    </div>

                                </div>

                                <!--                                <a th:if="*{status != 0}" th:href="@{/request}" type="button" class="btn btn-warning float-right"><i class="icn fas fa-backward"></i>Quay lại</a>-->
                                <a type="button" onclick="window.history.go(-1);" class="btn btn-warning float-right"><i class="icn fas fa-backward"></i>Quay lại</a>

                                <a style="margin-right: 7px" th:if="*{status == 0}" id="send" class="btn btn-primary float-right"><i class="icn fas fa-save"></i>Lưu</a>
                            </div>
                            <!-- /.card-body -->
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="box-header" >
                            <div class="card-header">
                                <h3 class="card-title">Danh sách vật tư</h3>
                                <button th:if="${status == 0}" style="float: right" id="add"  class="btn btn-primary">
                                    <i class="fa fa-plus"></i> Thêm
                                </button>
                                <select id="mat" class="form-control select2" style="float: right;width: 300px;">
                                    <option th:if="${list != null && !list.empty}" th:each="entry : ${list}" th:value="${entry.id}" th:text="${entry.matName}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="box-body">
                                        <table id="table" class="table table-bordered table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th class="center">STT</th>
                                                <th class="center">ID vật tư</th>
                                                <th class="center">Mã vật tư</th>
                                                <th class="center">Tên vật tư </th>
                                                <th class="center">Đơn vị</th>
                                                <th style="width: 10%" class="center">Số lượng</th>
                                                <th class="center">Thao tác</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:if="${listMat != null && !listMat.empty}" th:each="record : ${listMat}">
                                                <td class="center" th:text="${record.index}"></td>
                                                <td class="center" th:text="${record.id}"></td>
                                                <td th:text="${record.material.matCode}"></td>
                                                <td th:text="${record.material.matName}"></td>
                                                <td th:text="${record.material.unit}"></td>
                                                <td class="center" th:text="${record.quantity}"></td>
                                                <td class="center">
                                                    <a data-toggle="tooltip" style="cursor: pointer" title="Xóa"><i class="fa fa-trash-alt"></i></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
<!--                                </div>-->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- date-range-picker -->
    <script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>

    <!-- DataTables -->
<!--    <script th:src="@{/dist/js/datatables.net/js/jquery.dataTables.min.js}"></script>-->
<!--    <script th:src="@{/dist/js/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>-->
    <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
    <script>
        $(function () {
            var table = $('#table').DataTable({
                'paging': false,
                'lengthChange': false,
                'searching': false,
                'ordering': false,
                'info': false,
                'autoWidth': false
            });

            $('.date').datetimepicker({
                icons: {
                    time: "fas fa-clock"
                },
                showClear : true,
                format : 'DD/MM/YYYY, HH:mm'
                // timePicker: true,
                // format: 'L'
            })

            $('#send').click(function (){
                var param = {};
                param.status = 1;
                param.reason = $('#reason').val();
                param.fromDate = $('#from').val();
                param.toDate = $('#to').val();
                param.type = 2;
                param.matIds = [];
                param.quantities = [];
                param.requestMaterialDtos = [];
                table.rows().every(function ( rowIdx, tableLoop, rowLoop ) {
                    var data = this.data();
                    param.matIds.push(data[1]);
                    param.quantities.push($('input', table.cell({ row: rowIdx, column: 5 }).node()).val());
                });
                $.ajax({
                    url: "/request/mat/save",
                    contentType: "application/json",
                    method: "POST",
                    data:
                         JSON.stringify(param)
                    ,
                    success : function (data) {
                        if(data == '200'){
                            window.location = "/request"
                        } else
                            toastr.error('Thao tác thất bại')
                    }
                })
            })

            $('#add').click(function (){

                $.ajax({
                    url: "/material/get/" + $('#mat').val(),
                    contentType: "application/json",
                    method: "GET",
                    success : function (data) {
                        var currIndex = 1;

                        try {
                            currIndex = parseInt(table.row(':last').data()[0]) + 1;
                        } catch (e) {
                        }

                        var rowAdded = table.row.add([
                            currIndex,
                            data.id,
                            data.matCode,
                            data.matName,
                            data.unit,
                            '<input type="number" min="1" class="form-control"">',
                            '<a data-toggle="tooltip" style="cursor: pointer" title="Xóa"><i class="fa fa-trash-alt"></i></a>'
                        ]).draw();
                        table.row(rowAdded).column(0).nodes().to$().addClass('center');
                        table.row(rowAdded).column(1).nodes().to$().addClass('center');
                        table.row(rowAdded).column(5).nodes().to$().addClass('center')
                        table.row(rowAdded).column(6).nodes().to$().addClass('center');
                    }
                })
            })

            //Xóa vật tư
            $('#table tbody').on('click', 'a:nth-of-type(1)', function () {
                table.row($(this).parents('tr')).remove().draw();
                table.rows().every(function (rowindex) {
                    table.cell({row: rowindex, column: 0}).data(rowindex + 1);
                });
            });
        });
    </script>

</th:block>


</body>
</html>

