<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
</head>
<body>

<th:block th:fragment="list">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin tìm kiếm</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form class="form-horizontal" th:action="@{/user}" method="GET">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Mã người dùng:</label>
                                            <input type="text" class="form-control" name="code"
                                                   placeholder="Mã người dùng" th:value="${code}">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Tên người dùng:</label>
                                            <input type="text" class="form-control" name="name"
                                                   placeholder="Tên người dùng" th:value="${name}">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                                <button type="submit" class="btn btn-info float-right"><i class="icn fas fa-search"></i>Tìm kiếm</button>
                            </div>
                            <!-- /.card-body -->
                        </form>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" th:text="${title}"></h3>
                            <a th:href="@{/user/save}" type="button" class="btn btn-primary float-right"><i class="icn fas fa-plus"></i>Thêm mới</a>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="table" class="table table-bordered table-hover">
                                <thead class="center">
                                <tr>
                                    <th>Id</th>
                                    <th>Mã người dùng</th>
                                    <th>Tên người dùng</th>
                                    <th>Thao tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${list != null && !list.empty}" th:each="record : ${list}">
                                    <td class="center" th:text="${record.id}"></td>
                                    <td th:text="${record.deptCode}"></td>
                                    <td th:text="${record.deptName}"></td>
                                    <td class="center">
                                        <a th:href="@{/user/save(id=${record.id})}" title="Chỉnh sửa" class="icn"><i class="fas fa-pen-alt"></i></a>
                                        <a th:href="@{/user/del(id=${record.id})}" onclick="return confirm('Bạn chắc chắn muốn xóa ?')" title="Xóa"><i class="fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>

    <!-- DataTables -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <script>
        $(function () {
            $('#table').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
</th:block>

<th:block th:fragment="save">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin người dùng</h3>
                            <a th:href="@{/user}" type="button" class="btn btn-warning float-right"><i class="icn fas fa-backward"></i>Quay lại</a>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form class="form-horizontal" th:action="@{/user/save}" th:object="${dto}" method="POST">
                            <input type="hidden" th:field="*{id}">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Mã người dùng:</label>
                                            <input type="text" class="form-control" name="code"
                                                   placeholder="Mã người dùng" th:field="*{deptCode}">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Tên người dùng:</label>
                                            <input type="text" class="form-control" name="name"
                                                   placeholder="Tên người dùng" th:field="*{deptName}">
                                        </div>
                                        <!-- /.form-group -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                                <button type="submit" class="btn btn-primary float-right"><i class="icn fas fa-save"></i>Lưu</button>
                            </div>
                            <!-- /.card-body -->
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
</th:block>
</body>
</html>

